node_modules
.next
out
.git
.github
.env
.env.*
!.env.local.example
*.log
npm-debug.log*
.DS_Store
coverage
.storybook-out
storybook-static
**/__tests__
**/*.test.ts
**/*.test.tsx
README.md
docs
Dockerfile*
docker-compose*
.dockerignore
